
; ---------------------------
; 2021 Juan Delgado (JuDelCo)
; ---------------------------

; Basic text editor config
; Reference: http://editorconfig.org
[*.cs]
indent_style = tab
indent_size = 4
charset = utf-8

; Code analysis - Ignore rules (NET native project & Unity3D project)
[**bin/**.cs]
generated_code = true
[**obj/**.cs]
generated_code = true
[**PackageCache/**.cs]
generated_code = true
[Assets/Plugins/**.cs]
generated_code = true

; Code analysis - Config rules
; Reference: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions
; Reference: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions
[*.cs]
csharp_prefer_simple_default_expression = false:none
csharp_prefer_simple_using_statement = false:none
csharp_style_prefer_switch_expression = false:none
csharp_style_conditional_delegate_call = false:none
csharp_style_implicit_object_creation_when_type_is_apparent = false:none
dotnet_code_quality_unused_parameters = non_public:none
dotnet_style_object_initializer = false:silent
dotnet_style_collection_initializer = false:silent
dotnet_style_readonly_field = false:silent
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:none
